<!DOCTYPE html>
<html>
  <head>
    <title>Boba Buddies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Delius+Swash+Caps" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script type="text/javascript">
      window.cloudinary_options = {
        cloud_name: '<%= ENV['CLOUD_NAME']%>',
        upload_preset: '<%=ENV["UPLOAD_PRESET"]%>'
      };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
